// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

$blue: #5bc2f2;
$puple: #a64bed;
$header-color: #6b778c;
$black: black;
$white: white;
$off-white: rgb(244, 245, 247);
$navy-blue: rgb(0, 82, 204);
$nearly-black: #172b4d;

$bgc: $off-white;
$primary-bgc: rgb(94, 108, 132);
$secondary-bgc: rgb(66, 82, 110);
$call-to-action-color: $navy-blue;
$card-color: $primary-bgc;
$drawer-color: rgb(66, 82, 110);
$body-color: $nearly-black;
$task-color: $blue;
$subtask-color: $puple;
