/**
 * Basic typography style for copy text
 */
$sm-font-size: 1.25rem;
$sm-font: "Roboto", sans-serif;
$xs-font-size: 1rem;
$card-font-size: 0.75rem;
$link-font-size: 1rem;
$box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
$title-font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
