.project-list-title {
    font-size: 1.71429em;
    font-style: inherit;
    color: rgb(23, 43, 77);
    font-weight: 500;
    letter-spacing: -0.01em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2rem;
    margin-top: 2.5rem;
  }
  
  .project-list-table {
    //TODO move to components
    .table-body {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
    }
  
    table-body:hover {
      background-color: $bgc;
    }
  
    th {
      font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
      font-size: 0.875rem;
      color: #172b4d;
    }
  
    .project-name {
      cursor: pointer;
      color: #0c47be;
    }
  }
  