// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@import "./variables";

@mixin centered-form-field {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@mixin call-to-action-button {
  align-items: baseline;
  box-sizing: border-box;
  font-weight: 500;
  max-width: 100%;
  text-align: center;
  white-space: nowrap;
  box-shadow: transparent 0px 0px 0px 2px;
  background: $call-to-action-color;
  height: 2.28571em;
  line-height: 2.28571em;
  vertical-align: middle;
  width: auto;
  border-width: 0;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 0.1875rem 0.75rem 0.375rem 0.75rem;
  margin: 0;
  cursor: pointer;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  transition-property: background, box-shadow;
  transition-duration: 0.1s, 0.15s;
  transition-timing-function: ease-out, cubic-bezier(0.47, 0.03, 0.49, 1.38);
  transition-delay: 0s, 0s;
}

@mixin label {
  display: block;
  width: 90%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #5e6c84;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
  float: none;
  text-align: left;
  padding-bottom: 0.2rem;
}

@mixin title {
  color: #333;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin select {
  width: $full;
  margin: 0px;
  padding: 0px;
}